.loader {
  margin-left: 30px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.darkDropDown {
  background: linear-gradient(0deg, #000, #6b6b6b);
  box-shadow: 0 0 0 2px #353535, 0 0 0 2px #3e3e3e; 
  border-radius: 13px;
  border: 2px solid #aaa;
  outline: none;
  margin-top: 31px;
  padding: 5px;
  cursor: pointer;
  text-align-last: center;
  font-size: 15px;
  font-weight: 800;
}

.darkDropDown:hover {
  background: linear-gradient(0deg, #000, #413f3f);
}

.lightDropDown {
  background: linear-gradient(0deg, rgb(255, 255, 255), #e4e4e4);
  border-radius: 13px;
  border: 2px solid rgb(54, 53, 53);
  outline: none;
  margin-top: 31px;
  padding: 5px;
  cursor: pointer;
  text-align-last: center;
  font-size: 15px;
  font-weight: 800;
}
.lightDropDown:hover {
  background: linear-gradient(0deg, rgb(255, 255, 255), #ffffff);
}